USE [master]
GO
/****** Object:  Database [OlympicAlienAndTheCram]    Script Date: 2/16/2017 3:05:21 PM ******/
CREATE DATABASE [OlympicAlienAndTheCram]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OlympicAlienAndTheCram', FILENAME = N'D:\Databases\OlympicAlienAndTheCram.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'OlympicAlienAndTheCram_log', FILENAME = N'D:\Databases\Logs\OlympicAlienAndTheCram_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OlympicAlienAndTheCram].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OlympicAlienAndTheCram]
GO
/****** Object:  User [PTI_DOMAIN\DTG2]    Script Date: 2/16/2017 3:05:21 PM ******/
CREATE USER [PTI_DOMAIN\DTG2] FOR LOGIN [PTI_DOMAIN\DTG2] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [PTI_DOMAIN\DTG2]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 2/16/2017 3:05:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Classes](
	[CourseID] [varchar](10) NOT NULL,
	[ClassName] [varchar](50) NULL,
	[HoursPerWeek] [int] NULL,
	[ClassNumber] [int] NULL,
	[LabNumber] [int] NULL,
	[QuarterTaken] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Classroom]    Script Date: 2/16/2017 3:05:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Classroom](
	[RoomNumber] [varchar](20) NOT NULL,
	[RoomType] [varchar](10) NULL,
	[Seats] [int] NULL,
	[attributes] [varchar](80) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Course]    Script Date: 2/16/2017 3:05:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Course](
	[ClassID] [varchar](10) NULL,
	[ClassName] [nvarchar](50) NULL,
	[ClassType] [nvarchar](50) NULL,
	[NumberOfStudents] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CurrentStudents]    Script Date: 2/16/2017 3:05:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CurrentStudents](
	[StudentID] [int] NOT NULL,
	[FirstName] [nvarchar](30) NULL,
	[LastName] [nvarchar](30) NULL,
	[SSN] [nvarchar](20) NULL,
	[Birthday] [date] NULL,
	[CurrentQuarter] [int] NULL,
	[GPA] [nvarchar](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Instructor]    Script Date: 2/16/2017 3:05:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instructor](
	[InstructorID] [nvarchar](10) NOT NULL,
	[ClassTaught] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[InstructorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StudentRegistration]    Script Date: 2/16/2017 3:05:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentRegistration](
	[StudentID] [nvarchar](5) NOT NULL,
	[CourseType] [nvarchar](15) NULL,
	[CurrentQuarter] [int] NULL,
	[RegisteredCourses] [nvarchar](80) NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Classes] ([CourseID], [ClassName], [HoursPerWeek], [ClassNumber], [LabNumber], [QuarterTaken]) VALUES (N'GSD001', N' Steps to Career Success 1 ', 2, 2, 0, 1)
INSERT [dbo].[Classes] ([CourseID], [ClassName], [HoursPerWeek], [ClassNumber], [LabNumber], [QuarterTaken]) VALUES (N'GSD002', N' Steps to Career Success 2 ', 2, 2, 0, 3)
INSERT [dbo].[Classes] ([CourseID], [ClassName], [HoursPerWeek], [ClassNumber], [LabNumber], [QuarterTaken]) VALUES (N'GSD003', N' Steps to Career Success 3 ', 2, 2, 0, 6)
INSERT [dbo].[Classroom] ([RoomNumber], [RoomType], [Seats], [attributes]) VALUES (N'100', N'Room', 35, N'Has Macs')
INSERT [dbo].[Classroom] ([RoomNumber], [RoomType], [Seats], [attributes]) VALUES (N'110', N'Room', 29, N'Has Unity')
INSERT [dbo].[Classroom] ([RoomNumber], [RoomType], [Seats], [attributes]) VALUES (N'120', N'Lab', 14, N'Has Unity')
INSERT [dbo].[Course] ([ClassID], [ClassName], [ClassType], [NumberOfStudents]) VALUES (N'ITP211', N' Programming Mobile Applications', N'CP ', 24)
INSERT [dbo].[Course] ([ClassID], [ClassName], [ClassType], [NumberOfStudents]) VALUES (N'ITP252', N' GUI Development', N' CP ', 26)
INSERT [dbo].[Course] ([ClassID], [ClassName], [ClassType], [NumberOfStudents]) VALUES (N'ITP262', N' Programming Enterprise Applications', N' CP ', 28)
INSERT [dbo].[CurrentStudents] ([StudentID], [FirstName], [LastName], [SSN], [Birthday], [CurrentQuarter], [GPA]) VALUES (1, N'Rose', N'Harrison', N'721-65-3996', CAST(N'1998-07-11' AS Date), 5, N'3.84')
INSERT [dbo].[CurrentStudents] ([StudentID], [FirstName], [LastName], [SSN], [Birthday], [CurrentQuarter], [GPA]) VALUES (2, N'Judith', N'Jacobs', N'911-86-5936', CAST(N'1995-02-13' AS Date), 5, N'2.02')
INSERT [dbo].[CurrentStudents] ([StudentID], [FirstName], [LastName], [SSN], [Birthday], [CurrentQuarter], [GPA]) VALUES (3, N'Carolyn', N'Sims', N'286-53-1800', CAST(N'1995-09-17' AS Date), 3, N'2.58')
GO
INSERT [dbo].[Instructor] ([InstructorID], [ClassTaught]) VALUES (N'10G', N'CP')
INSERT [dbo].[Instructor] ([InstructorID], [ClassTaught]) VALUES (N'11G', N'CP')
INSERT [dbo].[Instructor] ([InstructorID], [ClassTaught]) VALUES (N'12G', N'CP')
ALTER TABLE [dbo].[Course]  WITH CHECK ADD FOREIGN KEY([ClassID])
REFERENCES [dbo].[Classes] ([CourseID])
GO
USE [master]
GO
